@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bcg-body: #f7f7f8;
  --bcg-container: #ffffff;
  --corail-color: #e76f51;
  --principal-color: #242323;
}

/* Général */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bcg-body);
  font-family: "Noto Sans", sans-serif;
  color: var(--principal-color);
}
.container {
  max-width: 1200px;
  background-color: var(--bcg-container);
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
  position: relative;
  /* Shadow */
  border-radius: 28px;
  box-shadow: 26px 26px 48px #bebebe, -26px -26px 48px #ffffff;
}

a {
  text-decoration: none;
  padding: 10px;
  color: var(--principal-color);
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  position: absolute;
  height: max-content;
  top: 15%;
  left: 2%;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

/* Main */

main {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
}
.left-main-first,
.left-main-second,
.left-main-third,
.right-main-first,
.right-main-second,
.rotate {
  padding: 10px;
}

/* Main: Left bloc */
.left-main {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 40vh;
}
.left-main-first {
  width: 100%;
  text-align: center;
  height: 10vh;
}
.left-main-first h2 {
  color: #e76f51;
}

.left-main-second {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
.espace {
  width: 100%;
  height: 0.5vh;
  background-color: #2a9d8f;
}
.left-main-third {
  height: 20vh;
}

/* Main: right bloc */
.right-main {
  width: 30%;
  height: 40vh;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.right-main-first {
  height: 10vh;
}
.r-color {
  position: relative;
}

.r-color::after {
  bottom: 0;
  color: #e76f51;
  content: "R";
  position: absolute;
  transform: translate(-100%, 0);
}
.right-main-second {
  height: 10vh;
  display: flex;
  align-items: center;
}

.right-main-second h2 {
  font-size: 34px;
}

/* rotation boutton */
.rotate {
  height: 20vh;
}
.rotate a {
  padding: 0;
  font-weight: bold;
}
svg {
  display: block;
  width: 100%;
  height: 100px;
  letter-spacing: 0.35em;
  align-self: flex-end;
}
svg text {
  transform-origin: 50% 50%;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

/* Social */
.social-buttons {
  padding: 10px 5px;
  border-radius: 5em;
  position: absolute;
  bottom: 40%;
  right: 3%;
  opacity: 0.7;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 10px;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

@keyframes wipe-out-left {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  }
}

[transition-style="out:wipe:left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-out-left both;
}
